.App {
  text-align: center;
}

.login {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.login h1 {
  margin-top: 2rem;
  text-align: center;
}

input {
  margin-top: 15px;
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
}

input:focus {
  outline: none;
}

/* Jorge Reguero */
.login button {
  margin-top: 30px;
  height: 2.5rem;
  border-radius: 2px;
  width: 100%;
}

.dropdown {
  float: right;
}

.button-toogle {
  position: absolute;
  bottom: 0;
  right: 0;
}

.imagen-user {
  width: 100%;
}

.button-tecnico {
  width: 6%;
}

.collapse-bar {
  bottom: 0;
  position: absolute;
  left: 35%;
  width: 64%;
  border: 2px solid #005BBB;
  padding: 6px;
  background-color: white;
}

.show-installs {
  
}

.pueblos-select{
  top: 0;
  position: absolute;
  width: 20% !important;
  float: right;
  border: 2px solid #005BBB !important;
  height: 56px !important;
  left: 79%;
}

.legend-menu {
  position: absolute;
  width: 20% !important;
  border: 2px solid #005BBB !important;
  top: 10%;
  left: 79%;
  height: 193px !important;
  background: #fff;
  overflow: auto;
}

.legend-menu h4 {
  padding-top: 10px;
  text-align: center;
}

.success-lamp{
  color: #43ac6a;
}

.danger-lamp{
  color: #f30000;
}

.warning-lamp{
  color: #FE5815;
}

.no-visited-lamp{
  color: #005BBB;
}

.visited-lamp {
  color: purple;
}
.header-lamps {
  display: flex;
}

.header-lamps button {
  max-height: 40px;
}

/* MAPA de LEAFLET */

.leaflet-container {
  width: 100vw;
  height: 100vh;
}

.test {
  justify-content: center;
}

/* **LOGIN*** */

.section-book {
  padding: 15rem;
  background-color: #fe5815;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
}
.react-bootstrap-table table {
  table-layout: auto;
}
.nav-bar-heigth{
  max-height: 550px;
}
.table-overflow{
  max-height: 200px;
}
.bodylamps{
    overflow: auto;
    height: 400px;
    margin-bottom: 13px;
}
.table thead th{
  vertical-align: middle!important;
}
.table td, .table th {
  padding: 0.1rem!important;
}
/*.react-bootstrap-table thead th { position: sticky; top: 0; z-index: 1; }*/

.table-lamps thead { position: sticky; top: 0; z-index: 1; }

.leaflet-pane{z-index: 0!important;}

.leaflet-bottom{display: none;}

.react-calendar {margin: 0 auto;}

.btn.disabled, .btn:disabled {
  opacity: .2!important;
}

.list-group-item-primary{background-color: #005BBB!important}

.button-logout {
  top: 11px;
  position: absolute;
  left: 73%;
}

.alert-changes button{
  width: 10px;
  margin-top: 0px;
}

.user-inserted {
  max-height: 40px;
}

.image-front { margin: 100px 0px 44px 0}

.notes {
  border-bottom: 1px solid #005BBB;
    width: 53%;
    margin: 0 auto;
    cursor: pointer;
}

.leaflet-tooltip {top: -27px}

.tooltip-close{
  border: transparent!important;
  background: transparent!important;
  color: black!important;
}

.clase1 {
  background: #005BBB; color: #fff;
}
.clase2 {
  background: #fff; color: black;
}

.legend-menu ul {
  font-size: 0.8rem;
}